<html>
    <head>
        <title>スーパーホームページ</title>
        <meta charset="utf-8" />
        <link type="text/css" href="../styles/main.css" rel="stylesheet"/>
    </head>
    <body>
        <main>
            <h1>スーパーホームページ</h1>
            <p>すごいホームページ</p>
            <p><%=userName %>さんようこそ</p>
        </main>
    </body>
</html>